<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="name"
            id="name"
            [ngClass]="{ 'is-invalid': submitted && field('name')?.errors }"
            required
          />
          <div
            *ngIf="submitted && field('name')?.errors"
            class="invalid-feedback"
          >
            <div *ngIf="field('name')?.errors?.['required']">
              Name is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            class="form-control"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && field('price')?.errors }"
            formControlName="price"
            id="price"
          />
          <div
            *ngIf="submitted && field('price')?.errors"
            class="invalid-feedback"
          >
            <div *ngIf="field('price')?.errors?.['required']">
              Price is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            type="text"
            formControlName="description"
            [ngClass]="{
              'is-invalid': submitted && field('description')?.errors
            }"
            id="description"
          />
          <div
            *ngIf="submitted && field('description')?.errors"
            class="invalid-feedback"
          >
            <div *ngIf="field('description')?.errors?.['required']">
              Description is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            [disabled]="loading"
            class="btn btn-primary btn-block"
            type="submit"
          >
            Add Book
          </button>
          <img
            *ngIf="loading"
            class="pl-3"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a routerLink="/books-list" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
